@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("/images/tribuo-bkgd.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  min-height: 110vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);

  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}
.form button {
  cursor: pointer;
  background-color: #006CF8;
  border: 2px solid #006CF8;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

/* navbar */
.topnav {
  background-color: rgb(0, 91, 210);
  overflow: hidden;
  width: 100%;
  border-bottom: 2px solid white;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  font-family: 'Baloo Tamma 2', cursive;
  text-align: center;
  padding: 5px 12px;
  text-decoration: none;
  font-size: 20px;
  border-right: #ddd solid 2px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgb(58, 135, 125);
  color: white;
}
/* /navbar */

.nav-container{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.nav-flex{
  justify-content: center;
}

.logo-container{
  display: flex;
  /* flex-direction: row; */
}
.logo-flex{
  justify-content: center;
}

.logo-login-con{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.margin1rem{
  margin: 1rem;
}

.subtitlefont{
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 2rem;
  color: #4AA397;
}
.subtitlefont2{
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 5rem;
  color: white;
}
.subtitlefont3{
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 1.6rem;
  color: white;
}

.namesfont{
  font-family: 'Baloo Tamma 2', cursive;
  color: white;
  font-size: 1.5rem;
}

.logo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.aboutus-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  height: auto;
}
.cards-container { 
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
}
.card--avatar {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.cardinfo{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  height: 13rem;
  margin: auto;
  overflow: hidden;
  cursor: default;
}
.socialbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.github{
  height: 38px;
  width: 36px;
  padding-top: 2px;
  margin-left: 7px;
  margin-right: 7px;
}
.linkedin{
  height: 40px;
  width: 40px;
  margin-left: 7px;
  margin-right: 7px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(0, 91, 210);
  border-bottom: 2px solid white;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar-title {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  font-size: 32px;
}
.navbar-button-container {
  list-style: none;
  display: flex;
}
.navbar-button {
  font-family: 'Baloo Tamma 2', cursive;
  margin-right: 1.5rem;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.login-reg-btns{
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 5rem;
}

.buttons{
  width: 200px;
  height: 75px;
  background-color: white;
  border: transparent 2px solid black;
  border-radius: 15px;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 30px;
  padding-top: 5px;
}

.centercontent{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.listFAQ {
  display: flex;
  flex-direction: column;
}

h2 {
  color: white;
  padding: 10px;
  cursor: default;
}

.answer {
  color: white;
  padding: 10px;
  text-decoration: none;
  cursor: default;
}

.bg-lightgray {
  width: 100%;
  background-color: transparent;
  padding: 25px;
  border-top: white solid 0.5px;
  text-align: center;
}
.bg-white {
  width: 100%;
  background-color: transparent;
  padding: 25px;
  border-top: white solid 0.5px;
  text-align: center;
}

@media screen and (max-width: 360px) {
  
  body {
    background-image: url("/images/tribuo-bkgd.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    min-height: 122vh;
    margin: 0;
  }

}
@media screen and (max-width: 320px) {
  
  body {
    background-image: url("/images/tribuo-bkgd.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    min-height: 140vh;
    margin: 0;
  }

}
