body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  /* margin-left: -15rem; */
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper {
  /* sidebar-heading */
  width: 100%;
  font-size: 1.2rem;
}

.sidebar-heading {
  background-color: white;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.logo {
  height: 242px;
  margin: 0px;
  border-bottom: 2px solid black transparent;
}
.bgblue {
  background-color: rgb(213, 213, 213);
}
.bggreen {
  background-color: #4aa397;
}
.profileimg-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileimg {
  border: black 2px solid transparent;
  border-radius: 250%;
  height: auto;
  width: 50%;
  margin: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.profilecontent-con {
  display: flex;
  justify-content: center;
}
.profilecontent {
  font-family: 'Baloo Tamma 2', cursive;
  color: white;
  margin: 0px;
}
.profilesize {
  font-size: 13px;
}
.list-group-items {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #4aa397;
}
.list-group-items-action {
  width: 100%;
  color: white;
  text-align: inherit;
}
.borderbot {
  border-bottom: 2px solid white;
}
.bordertop {
  border-top: 2px solid white;
}
.borderR {
  border-right: 2px solid white;
}
.logoutbtn {
  font-family: 'Baloo Tamma 2', cursive;
  color: #fff;
  background-color: #006cf8;
  border-color: #006cf8;
  border-radius: 35px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
}
.onpagebtn {
  font-family: 'Baloo Tamma 2', cursive;
  color: #fff;
  background-color: #006cf8;
  border-color: #006cf8;
  border-radius: 20px;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
}
.botpad {
  padding-bottom: 5px;
}
.content-title {
  color: #006cf8;
  text-align: center;
}
.centerimg img {
  /*margin-left: auto;
  margin-right: auto;*/
  width: 100%;
  height: auto;
}

.main-navbar-container {
  width: 100%;
}

.nav-row {
  margin-right: -15px !important;
}

.top-navbar {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.2rem; /* change padding here for button */
}

.admindashboardcontent {
  display: flex;
  flex-flow: column;
  margin: 0 !important;
  width: 100%;
}

.dash-content {
  background-color: white;
  width: 10%;
  padding: 0.5rem;
  margin: 0.2rem;
}

.content-border {
  border: 2px solid #006cf8;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.23);
}

.iconColor {
  color: white;
}

.font-baloo {
  font-family: 'Baloo Tamma 2', cursive;
}

.employeedashboardcontent {
  width: 100%;
}

.employee-container {
  width: 100%;
}

.some-content {
  width: 50%;
}

.libordertopyellow{
  border-top: solid 1px yellow;
}

.bordertopgreen{
  border-top: solid 1px limegreen;
}

.bordertopred{
  border-top: solid 1px red;
}

.removeulbullets{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bordertoptasks{
  border-top: solid 1px #006cf8;
}

@media screen and (min-width: 860px) {
  .admindashboardcontent {
    flex-flow: row;
  }
  .dash-content {
    width: 49%;
  }
}
