<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style -->
    <link rel="stylesheet" href="/style/registration.css" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma+2:700&display=swap" rel="stylesheet">
    <title>Tribuo - About Us</title>
</head>
<body>
    <main>
    <!-- navbar -->
    <nav>
        <ul>
        <a class="navbar-title subtitlefont" href="/homepage">Tribuo.</a>
        </ul>
        <ul class="navbar-button-container">
          <a class="navbar-button" href="/aboutus">About us</a>
          <a class="navbar-button" href="/FAQ">FAQ</a>
        </ul>
      </nav>
    <!-- /navbar -->
    <!-- <div class="logo-login-con"> -->
      <div class="logo-login-con">
        <div class="logo-container">
          <a href="/homepage"><img height="auto" width="100%" class="margin1rem logo-flex" src="/images/TRIBUO-6.png" alt=""></a>
            <div class="subtitlefont2">About Us</div>
        </div>
      </div>
      <div class="aboutus-container">
        <div class="cards-container">
          <img class="card" src="images/jayej.jpg" alt="" />
          <div class="cardinfo">
            <div class="namesfont">Jaye Jensen</div>
            <br />
            <div style="text-align: center; color: white;">Real estate agent turned web developer, currently attending
            Digitalcraft's immersive web bootcamp to learn full-stack
            development.
            </div>
          </div>
          <div class="socialbox">
            <a href="https://github.com/jaye-j"
              ><img class="github" src="images/githubIcon.png" alt=""/></a
            ><a href="https://www.linkedin.com/in/jayethecoder/"
              ><img class="linkedin" src="images/linkedinIcon.png" alt=""
            /></a>
          </div>
        </div>
        <div class="cards-container">
          <img class="card" src="images/adenny.jpg" alt="" />
          <div class="cardinfo">
            <div class="namesfont">Austin Denny</div>
            <br />
            <div style="text-align: center; color: white;">Biologist turned web developer, currently attending Digitalcraft's
            immersive web bootcamp to learn full-stack development.
            </div>
          </div>
          <div class="socialbox">
            <a href="https://github.com/abdenny"
              ><img class="github" src="images/githubIcon.png" alt=""/></a
            ><a href="https://www.linkedin.com/in/austin-denny-0b77a8197/"
              ><img class="linkedin" src="images/linkedinIcon.png" alt=""
            /></a>
          </div>
        </div>
        <div class="cards-container">
          <img class="card" src="/images/danieldolan.jpeg" alt="" />
          <div class="cardinfo">
            <div class="namesfont">Daniel Dolan</div>
            <br />
            <div style="text-align: center; color: white;">Psychology graduate turned web developer, currently attending
            Digitalcraft's immersive web bootcamp to learn full-stack
            development.
            </div>
          </div>
          <div class="socialbox">
            <a href="https://github.com/daniel1dolan"
              ><img class="github" src="images/githubIcon.png" alt=""/></a
            ><a href="https://www.linkedin.com/in/mark-dolan-538810186/"
              ><img class="linkedin" src="images/linkedinIcon.png" alt=""
            /></a>
          </div>
        </div>
      </div>
    <!-- </div> -->
    </main>
</body>
</html>