<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ADMIN DASHBOARD</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/style/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="d-flex bgblue" id="wrapper">
      <!-- Sidebar -->
      <div class="bggreen borderR" id="sidebar-wrapper">
        <div class="sidebar-heading">
          <img class="logo borderbot" src="/images/TRIBUO.png" alt="" />
        </div>
        <div class="list-group list-group-flush bggreen">
          <div class="profileimg-container bggreen">
            <img
              class="profileimg"
              src="http://placecorgi.com/180/180"
              alt=""
            />
          </div>
          <div class="profilecontent-con">
            <h6 class="profilecontent">John Smith</h6>
          </div>
          <div class="profilecontent-con">
            <p class="profilecontent profilesize">Department</p>
          </div>
          <div class="profilecontent-con">
            <p class="profilecontent profilesize botpad">Position</p>
          </div>
          <a
            href="#"
            style="color: white; text-decoration: none;"
            class="list-group-items list-group-items-action bordertop"
            >Tasks</a
          >
          <a
            href="#"
            style="color: white; text-decoration: none;"
            class="list-group-items list-group-items-action bordertop"
            >Chat</a
          >
          <a
            href="#"
            style="color: white; text-decoration: none;"
            class="list-group-items list-group-items-action bordertop borderbot"
            >Members</a
          >
        </div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bggreen borderbot">
          <div style="color: white;">Hello, John</div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <button class="logoutbtn" id="menu-toggle">Sign out</button>
            </ul>
          </div>
        </nav>
        <div class="container-fuild" style="height: 200px;">
          <h1 class="mt-4 content-title">TASKS</h1>
          <div class="profileimg-container">
            <div class="container">
              <form
                id="form"
                class="form"
                action="/admin/department"
                method="POST"
              >
                <h2>Create a Department</h2>

                <div class="form-control" style="height: 80px;">
                  <label for="department">Department Name: </label>
                  <input
                    type="text"
                    id="department"
                    name="department"
                    placeholder="Enter a department to create"
                    size="50"
                  />
                </div>

                <button
                  value="submit"
                  type="submit"
                  class="logoutbtn"
                  style="margin-top: 5px;"
                >
                  Submit
                </button>
              </form>
            </div>
            <div class="container" style="height: 200px;">
              <form
                id="form"
                class="form"
                action="/admin/managers"
                method="POST"
                style="height: 200px;"
              >
                <h2>Create a Manager</h2>

                <div class="form-control" style="height: 80px;">
                  <label for="department">Email Address: </label>
                  <input
                    type="text"
                    id="emp_email"
                    name="emp_email"
                    placeholder="Enter an employee's email adress from existing users"
                    size="50"
                  />
                </div>
                <!-- <div class="form-control">
                <label for="department_managers">Department: </label>
                <select
                  id="department_managers"
                  name="department_id"
                  placeholder="Choose the department manager."
                >
                <option>-Select Department-</option>
                  <% departments.forEach((department)=>{ %>
                  <option value="<%= department.id %>"
                    ><%= department.department_title %></option
                  >
                  <% }) %>
                </select>
              </div> -->

                <button
                  value="submit"
                  type="submit"
                  class="logoutbtn"
                  style="margin-top: 5px;"
                >
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <script src="/js/localadmindashboard.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
