<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style/registration.css" />
    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Tamma+2:700&display=swap"
      rel="stylesheet"
    />
    <title>Tribuo - FAQ</title>
  </head>
  <body>
    <main>
      <div class="centercontent">
        <!-- navbar -->
        <nav>
          <ul>
            <a class="navbar-title subtitlefont" href="/">Tribuo.</a>
          </ul>
          <ul class="navbar-button-container">
            <a class="navbar-button" href="/aboutus">About us</a>
            <a class="navbar-button" href="/FAQ">FAQ</a>
          </ul>
        </nav>
        <!-- /navbar -->
        <div class="logo-container">
          <a href="/"
            ><img
              height="auto"
              width="100%"
              class="margin1rem logo-flex"
              src="/images/TRIBUO-6.png"
              alt=""
          /></a>
          <div class="subtitlefont2">F.A.Q.</div>
        </div>
        <li class="listFAQ">
          <div class="bg-lightgray">
            <h2>What does Tribuo do?</h2>
            <h4 class="answer">
              Tribuo allows companies to easily manage and distribute tasks
              among their employees.
            </h4>
          </div>
          <div class="bg-lightgray">
            <h2>
              Why/When was Tribuo made?
            </h2>
            <h4 class="answer">
              Tribuo was made as a group project for Digital Crafts immersive
              bootcamp course in March 2020.
            </h4>
          </div>
        </li>
      </div>
    </main>
  </body>
</html>
