<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style/registration.css" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma+2:700&display=swap" rel="stylesheet">
    <title>Tribuo - FAQ</title>
  </head>
  <body>
    <main>
        <div class="centercontent">
      <!-- navbar -->
    <nav>
        <ul>
        <a class="navbar-title subtitlefont" href="/homepage">Tribuo.</a>
        </ul>
        <ul class="navbar-button-container">
          <a class="navbar-button" href="/aboutus">About us</a>
          <a class="navbar-button" href="/FAQ">FAQ</a>
        </ul>
      </nav>
      <!-- /navbar -->
      <div class="logo-container">
        <a href="/homepage"><img height="200px" class="margin1rem logo-flex" src="/images/TRIBUO-6.png" alt=""></a>
        <div class="subtitlefont2">F.A.Q.</div>
      </div>
      <li class="listFAQ">
        <div class="bg-lightgray">
          <h2>What API's are being used on Book•Smart?</h2>
          <h4 class="answer">
            Book•Smart uses the
            <a
              class="API-links"
              href="https://developer.nytimes.com/docs/books-product/1/overview"
              ><em>The New York Times</em> Best Sellers API</a
            >
            ,
            <a class="API-links" href="https://developers.google.com/books"
              >Google Books API</a
            >, and
            <a
              class="API-links"
              href="https://openlibrary.org/dev/docs/api/books"
              >Open Library Books API</a
            >.
          </h4>
        </div>
        <div class="bg-white">
          <h2>Why can I not find the book/author I am looking for?</h2>
          <h4 class="answer">
            If you are unable to locate the book/author you are looking for
            chances are that the book/author is not in the Google Books API
            data.
          </h4>
        </div>
        <div class="bg-lightgray">
          <h2>What does Book•Smart do?</h2>
          <h4 class="answer">
            Book•Smart lets users easily search for Books/Authors and
            view data from <em>The New York Times</em> Best Sellers
            list.
          </h4>
        </div>
        <div class="bg-white">
          <h2>
            How far back in time does the data for New Yorks Times Best Sellers
            go?
          </h2>
          <h4 class="answer">
            The data available from <em>The New York Times</em> API only goes
            back to 2009.
          </h4>
        </div>
        <div class="bg-lightgray">
          <h2>
            Why/When was Tribuo made?
          </h2>
          <h4 class="answer">
            Tribuo was made as a group project for Digital Crafts immersive bootcamp course in March 2020.
          </h4>
        </div>
      </li>
      </div>
    </main>
  </body>
</html>