<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style/registration.css" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma+2:700&display=swap" rel="stylesheet">
    <title>Tribuo - Login</title>
  </head>
  <body>
    <!-- navbar -->
    <nav>
      <ul>
      <a class="navbar-title subtitlefont" href="/homepage">Tribuo.</a>
      </ul>
      <ul class="navbar-button-container">
        <a class="navbar-button" href="/aboutus">About us</a>
        <a class="navbar-button" href="/FAQ">FAQ</a>
      </ul>
    </nav>
    <!-- /navbar -->

    <div class="logo-login-con">
    <div class="logo-container">
      <img height="auto" width="100%" class="margin1rem logo-flex" src="/images/TRIBUO-6.png" alt="">
    </div>
    <div style="margin-left: 75px; margin-right: 75px;" class="subtitlefont3">
        <div style="width: auto; text-align: center; color: white; margin-top: 20px;">Tribuo is a company wide employee and task management system designed to help organize and distribute duties among employees.</div>
    </div>
    </div>
    <div class="login-reg-btns" style="margin-bottom: 50px;">
      <a href="/"><button class="buttons" style="cursor: pointer;">Login</button></a>
      <a href="/registration"><button class="buttons" style="cursor: pointer;">Register</button></a>
    </div>
  </body>
</html>
