<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style/registration.css" />
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma+2:700&display=swap" rel="stylesheet">
    <title>Tribuo - Login</title>
  </head>
  <body>
    <!-- navbar -->
    <nav>
      <ul>
      <a class="navbar-title subtitlefont" href="/">Tribuo.</a>
      </ul>
      <ul class="navbar-button-container">
        <a class="navbar-button" href="/registration">Register</a>
        <a class="navbar-button" href="/aboutus">About us</a>
        <a class="navbar-button" href="/FAQ">FAQ</a>
      </ul>
    </nav>
    <!-- /navbar -->

    <div class="logo-login-con">
    <div class="logo-container">
      <img height="200px" class="margin1rem logo-flex" src="/images/TRIBUO-6.png" alt="">
    </div>

    <div class="container margin1rem">
      <form id="form" class="form" method="POST">
        <h2 class="subtitlefont">Login</h2>

        <div class="form-control">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Enter email"
          />
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter password"
          />
          <small>Error message</small>
        </div>

        <button value="submit" type="submit">Submit</button>
      </form>
    </div>
    </div>
  </body>
</html>
