<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style/registration.css" />
    <title>Employee Login</title>
  </head>
  <body>
    <div class="container">
      <form id="form" class="form" method="POST">
        <h2>Login</h2>

        <div class="form-control">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Enter email"
          />
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter password"
          />
          <small>Error message</small>
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
