<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style/registration.css" />
    <title>Employee Registration</title>
  </head>
  <body>
    <div class="nav-container">
      <div class="topnav nav-flex">
        <a class="active" href="/">Home</a>
        <a href="#news">News</a>
        <a href="#">Contact</a>
        <a href="/aboutus">About Us</a>
      </div>
    </div>
    <div class="logo-login-con">
    <div class="logo-container">
      <img height="200px" class="margin1rem logo-flex" src="/images/TRIBUO-6.png" alt="">
    </div>

    <div class="container margin1rem">
      <form id="form" class="form" method="POST">
        <h2>Register</h2>
        <div class="form-control">
          <label for="first_name">First Name</label>
          <input
            type="text"
            id="firstname"
            name="firstname"
            placeholder="Enter first name"
          />
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="last_name">Last Name</label>
          <input
            type="text"
            id="lastname"
            name="lastname"
            placeholder="Enter last name"
          />
        </div>
        <div class="form-control">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Enter email"
          />
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter password"
          />
        </div>
        <div class="form-control">
          <label for="password">Department</label>
          <select
            id="departmentID"
            name="departmentID"
            placeholder="Choose the department you belong to."
          >
            <option>-Select Department-</option>
            <% departments.forEach((department)=>{ %>
            <option value="<%= department.id %>"
              ><%= department.department_title %></option
            >
            <% }) %>
          </select>
        </div>
        <button type="submit" value="submit">Submit</button>
      </form>
    </div>
    </div>
  </body>
</html>






