<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/style/registration.css" />
    <title>Employee Registration</title>
  </head>
  <body>
    <div class="container">
      <form id="form" class="form" method="POST">
        <h2>Register</h2>
        <div class="form-control">
          <label for="first_name">First Name</label>
          <input
            type="text"
            id="firstname"
            name="firstname"
            placeholder="Enter first name"
          />
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="last_name">Last Name</label>
          <input
            type="text"
            id="lastname"
            name="lastname"
            placeholder="Enter last name"
          />
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Enter email"
          />
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter password"
          />
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="password">Department</label>
          <select
            id="departmentID"
            name="departmentID"
            placeholder="Choose the department you belong to."
          >
            <option value="marketing">Marketing</option>
            <option value="human-resources">Human Resources</option>
            <option value="">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
          <small>Error message</small>
        </div>
        <button type="submit" value="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
